<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BIND_APPWIDGET" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Optional ADB grant for reversible Xiaomi navigation-mode activation/recovery. -->
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <queries>
        <intent><action android:name="android.search.action.GLOBAL_SEARCH" /></intent>
        <package android:name="com.moji.mjweather" />
        <package android:name="com.google.android.googlequicksearchbox" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <application android:label="MiDuo" android:icon="@mipmap/miduo_launcher"
        android:name=".DuoApplication"
        android:theme="@style/Theme.Duo" android:allowBackup="false" android:supportsRtl="true">
        <!-- Respect the user's fixed inner landscape on target-36 large-screen devices. -->
        <property android:name="android.window.PROPERTY_COMPAT_ALLOW_RESTRICTED_RESIZABILITY" android:value="true" />
        <service android:name=".DuneWallpaperService" android:label="@string/wallpaper_service_name"
            android:permission="android.permission.BIND_WALLPAPER" android:exported="true">
            <intent-filter><action android:name="android.service.wallpaper.WallpaperService" /></intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/dune_wallpaper" />
        </service>
        <service android:name=".SystemShadeAccessibilityService"
            android:label="@string/shade_service_label"
            android:description="@string/shade_service_description"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                android:resource="@xml/system_shade_accessibility_service" />
        </service>
        <activity android:name=".MainActivity" android:exported="true"
            android:launchMode="singleTask" android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
